<div class="sticky-sm-top col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white rounded-top shadow p-3 rounded" style="position: fixed; display: block; width: 15%;">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/admin/dashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none mt-2">
            <img src="/public/images/gapulo_logo.png" alt="" width="100%" class="d-inline-block align-text-top">
        </a>
        <br>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a href="/admin/dashboard" class="nav-link px-0 align-middle">
                    <i class="bi bi-pie-chart"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            </li>
            <li>
                <a href="/admin/foods/" class="nav-link px-0 align-middle">
                    <i class="bi bi-shop-window"></i> <span class="ms-1 d-none d-sm-inline">Food</span> </a>
            </li>
            <li>
                <a href="/admin/architecture" class="nav-link px-0 align-middle">
                    <i class="bi bi-code-square"></i> <span class="ms-1 d-none d-sm-inline">Architecture</span> </a>
            </li>
            <li>
                <a href="/admin/model-siamese" class="nav-link px-0 align-middle">
                    <i class="bi bi-boxes"></i> <span class="ms-1 d-none d-sm-inline">Model</span> </a>
            </li>
            
        </ul>
        
    </div>
</div>