<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
        <img src="/public//images/gapulo_logo.png" alt="" width="50%" style="margin: auto; margin-top: 20px; margin-bottom: 20px;">
        <% include ./../partials/messages %> 
        <form action="/admin/users/login" method="POST">
            <div class="form-group">
            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                class="form-control mt-1"
                placeholder="Enter Email"
            />
            </div>
            <div class="form-group mt-3">
            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                class="form-control mt-1"
                placeholder="Enter Password"
            />
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
        </form>
        </div>
    </div>
</div>