<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
        <img src="/public//images/pertamina-logo.png" alt="" width="45%" style="margin: auto;">
        <% include ./../partials/messages %> 
        <form action="/admin/users/reset-password" method="POST">
            <div class="form-group">
            <label for="email">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                class="form-control mt-1"
                placeholder="Enter Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
            />
            </div>
            <div class="form-group mt-3">
            <label for="password">New Password</label>
            <input
                type="password"
                id="newPassword"
                name="newPassword"
                class="form-control mt-1"
                placeholder="Enter New Password"
                value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>"
            />
            </div>
            <div class="form-group mt-3">
            <label for="password">Confirm New Password</label>
            <input
                type="password"
                id="confirmNewPassword"
                name="confirmNewPassword"
                class="form-control mt-1"
                placeholder="Enter Confirm New Password"
                value="<%= typeof confirmNewPassword != 'undefined' ? confirmNewPassword : '' %>"
            />
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Reset</button>
        </form>
        </div>
    </div>
</div>